FInal/Client/WebClient/Connected Services/ServiceDgitron/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Digitron" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDigitron_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IDigitron_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDigitron_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IDigitron_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IDigitron_Plus_InputMessage">
    <wsdl:part name="parameters" element="tns:Plus" />
  </wsdl:message>
  <wsdl:message name="IDigitron_Plus_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlusResponse" />
  </wsdl:message>
  <wsdl:message name="IDigitron_Minus_InputMessage">
    <wsdl:part name="parameters" element="tns:Minus" />
  </wsdl:message>
  <wsdl:message name="IDigitron_Minus_OutputMessage">
    <wsdl:part name="parameters" element="tns:MinusResponse" />
  </wsdl:message>
  <wsdl:message name="IDigitron_Mnozi_InputMessage">
    <wsdl:part name="parameters" element="tns:Mnozi" />
  </wsdl:message>
  <wsdl:message name="IDigitron_Mnozi_OutputMessage">
    <wsdl:part name="parameters" element="tns:MnoziResponse" />
  </wsdl:message>
  <wsdl:message name="IDigitron_Deli_InputMessage">
    <wsdl:part name="parameters" element="tns:Deli" />
  </wsdl:message>
  <wsdl:message name="IDigitron_Deli_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeliResponse" />
  </wsdl:message>
  <wsdl:message name="IDigitron_OpaCupa_InputMessage">
    <wsdl:part name="parameters" element="tns:OpaCupa" />
  </wsdl:message>
  <wsdl:message name="IDigitron_OpaCupa_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpaCupaResponse" />
  </wsdl:message>
  <wsdl:portType name="IDigitron">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDigitron/GetData" message="tns:IDigitron_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDigitron/GetDataResponse" message="tns:IDigitron_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IDigitron/GetDataUsingDataContract" message="tns:IDigitron_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDigitron/GetDataUsingDataContractResponse" message="tns:IDigitron_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Plus">
      <wsdl:input wsaw:Action="http://tempuri.org/IDigitron/Plus" message="tns:IDigitron_Plus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDigitron/PlusResponse" message="tns:IDigitron_Plus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Minus">
      <wsdl:input wsaw:Action="http://tempuri.org/IDigitron/Minus" message="tns:IDigitron_Minus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDigitron/MinusResponse" message="tns:IDigitron_Minus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Mnozi">
      <wsdl:input wsaw:Action="http://tempuri.org/IDigitron/Mnozi" message="tns:IDigitron_Mnozi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDigitron/MnoziResponse" message="tns:IDigitron_Mnozi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Deli">
      <wsdl:input wsaw:Action="http://tempuri.org/IDigitron/Deli" message="tns:IDigitron_Deli_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDigitron/DeliResponse" message="tns:IDigitron_Deli_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpaCupa">
      <wsdl:input wsaw:Action="http://tempuri.org/IDigitron/OpaCupa" message="tns:IDigitron_OpaCupa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDigitron/OpaCupaResponse" message="tns:IDigitron_OpaCupa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDigitron" type="tns:IDigitron">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IDigitron/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IDigitron/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Plus">
      <soap:operation soapAction="http://tempuri.org/IDigitron/Plus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Minus">
      <soap:operation soapAction="http://tempuri.org/IDigitron/Minus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mnozi">
      <soap:operation soapAction="http://tempuri.org/IDigitron/Mnozi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deli">
      <soap:operation soapAction="http://tempuri.org/IDigitron/Deli" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpaCupa">
      <soap:operation soapAction="http://tempuri.org/IDigitron/OpaCupa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Digitron">
    <wsdl:port name="BasicHttpBinding_IDigitron" binding="tns:BasicHttpBinding_IDigitron">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>